@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300&family=Roboto:wght@300&display=swap');
@import url(https://db.onlinewebfonts.com/c/22a306fc481736d9d0d75772b51006b1?family=Inknut+Antiqua);
@import url(https://db.onlinewebfonts.com/c/2da952d097bffd198ec0f0aa3fdd6804?family=JejuHallasan);
*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;

}
body{
    background-color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#checkbox {
    display: none;
  }
  
  .toggle {
    position: relative;
    width: 30px;
    height: 35px;
    
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-duration: .5s;
    display: none;
  }
  
  .bars {
    width: 100%;
    height: 4px;
    background-color: black;
    border-radius: 4px;
  }
  
  #bar2 {
    transition-duration: .8s;
  }
  
  #bar1,#bar3 {
    width: 70%;
  }
  
  #checkbox:checked + .toggle .bars {
    position: absolute;
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar2 {
    transform: scaleX(0);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle {
    transition-duration: .5s;
    transform: rotate(180deg);
  }
.nav-bar {
    background-color: #595959;
    width: 13%;
    height: 100vh;
    border: none;
    position: fixed;
    
    
}
.nav-logo {
    width: 100;
    margin-left: 15%;
    
    
}
ul{
    list-style: none;
    margin-left: 0%;
    
}
li{
    margin-bottom: 10%;
}

li a{
    color: aliceblue;
    text-decoration: none;
    font-size: larger;
    
    padding-left: 5%;
    
    
}

.active {
    background-color:#2D2D2D ;
    
    padding-top: 5%;
    padding-bottom: 5%;
    
}
.disactive:hover{
    color: black;

}
.hedbar{
    background-color: #d7d7d7;
    margin-left: 13%;
    width: 100%;
    height: 10vh;
   
}

.hedbar h4{
text-align: center;
margin-top: 15;
}
.contner{
    display: flex;
}
.profile img{
    width: 40;
    height: 40;
    border-radius: 50px;
    float: right;
    margin-top: -30;
    margin-right: 10;
}



table {
    border: 1px solid #000;
    border-collapse: collapse;
    width: 100%;
    margin-top: 52%;
}

th, td {
    border: 1px solid #000;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #2D2D2D;
    color: white;
}

.nav-inp {
    display: grid;
    grid-template-columns: 20% 20% auto;
    
    margin-bottom: -50%;
    margin-top: 2%;
    
    
}

.nav-inp form {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1px;
    
}

.table-ram {
    position: relative;
    left: 13.5%;
    width: 85.8%;
    
}



.nav-inp button,.nav-inp input[type="submit"] {
    padding: 10px;
    font-weight: bold;
    background-color: #a8a8a8;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.nav-inp button:hover,.nav-inp input[type="submit"]:hover {
    background-color: #7a7a7a; /* Darker background color on hover */
}



.element-to-animate {
    animation: loop 1s ease-in infinite; 
}







@keyframes loop {
    from {
        background-color: #a8a8a8;
    }
    to {
        background-color: #4f4f4f;
    }
}

    .status-form {
        display: inline-block;
    }

    .status-form select {
        padding: 5px;
        font-size: 14px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

    .status-form input[type="submit"] {
        padding: 5px 10px;
        font-size: 14px;
        margin-top: 7%;
        margin-left: 14px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        justify-items: center;
    }



.searsh{
    
    height: 30px;
    margin-left: 50%;
    margin-right: 5%;
}
.searsh input[type="text"]{
    width: 100%;
    
}
.searsh input[type="submit"]{
    width: 100%;
    
}
/* Style for success message */
.success-message {
    background-color: #d4edda; /* Green background */
    color: #155724; /* Dark green text */
    padding: 10px; /* Padding around the message */
    margin-bottom: 10px; /* Margin below the message */
    border: 1px solid #c3e6cb; /* Border color */
    border-radius: 5px; /* Rounded corners */
}

/* Style for fatal message */
.Fatal-message {
    background-color: #f8d7da; /* Red background */
    color: #721c24; /* Dark red text */
    padding: 10px; /* Padding around the message */
    margin-bottom: 10px; /* Margin below the message */
    border: 1px solid #f5c6cb; /* Border color */
    border-radius: 5px; /* Rounded corners */
}
